		
	
		<div id="question" class="col-xs-12 col-sm-8  " ng-hide="vm.spinner">
			<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="vm.spinner"></span>

		 
			<input type="hidden" value="@{{$merchant_id}}">
			<p><strong>Pregunta # {{vm.question.number}}:</strong></p>
			<p>{{vm.question.question.question}}</p>
			<p><small>Seleccione la respuesta que considere es correcta, si está seguro presione CONFIRMAR. Si desea revisarla luego, presione MARCAR</small></p>
			<div  ng-class="vm.get_option_class('A')" ng-click="vm.set_selected_answer('A')">
				<p><strong>A. </strong> {{vm.question.question.optionA}}</p>
			</div>
			<div  ng-class="vm.get_option_class('B')" ng-click="vm.set_selected_answer('B')">
				<p><strong>B. </strong> {{vm.question.question.optionB}}</p>
			</div>
			<div ng-class="vm.get_option_class('C')" ng-click="vm.set_selected_answer('C')">
				<p><strong>C. </strong> {{vm.question.question.optionC}}</p>
			</div>
			<div ng-class="vm.get_option_class('D')" ng-click="vm.set_selected_answer('D')">
				<p><strong>D. </strong> {{vm.question.question.optionD}}</p>
			</div>
			<div class="form-group btn-group btn-group-justified" role="group">
				<div class="btn-group">
					<button class="btn btn-default" ng-click="vm.back()"><i class="fa fa-arrow-left"></i> Atras</button>
				</div>
				<div class="btn-group">
					<button class="btn btn-warning " ng-click="vm.marcar()" ng-disabled="vm.isMarkDisabled()"><i class="fa fa-pencil"></i> Marcar</button>
				</div>
				<div class="btn-group" ng-show="!vm.isLastQ() && vm.isNextDisabled()">
					<button class="btn btn-success" ng-click="vm.next()" ng-disabled="vm.isConfirmarDisabled()"> Siguiente <i class="fa fa-arrow-right"></i></button>
				</div>
				<div class="btn-group" ng-show="!vm.isLastQ() && !vm.isNextDisabled()">
					<button class="btn btn-success" ng-click="vm.next()" ng-disabled="vm.isNextDisabled()"> Siguiente <i class="fa fa-arrow-right"></i></button>
				</div>
				<div class="btn-group" ng-show="vm.isLastQ()">
					<button class="btn btn-default" ng-click="vm.next()" ng-disabled="vm.isConfirmarDisabled()"><i class="fa fa-arrow-right"></i> Finalizar</button>
				</div>
			</div>
			 
		</div>

		